.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  background-color: #121212;
  font-family: Generalsans, sans-serif;
  color: #333;
  font-size: 18px;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #1c1c1e;
  font-size: 57px;
  line-height: 64px;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #1c1c1e;
  font-size: 40px;
  line-height: 48px;
  font-weight: 800;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #1c1c1e;
  font-size: 32px;
  line-height: 42px;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #1c1c1e;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}

p {
  margin-bottom: 10px;
  font-family: Generalsans, sans-serif;
  color: #333;
  font-size: 20px;
  line-height: 150%;
  font-weight: 400;
}

a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  color: #1c1c1e;
  font-size: 20px;
  text-decoration: none;
}

ul {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 40px;
}

li {
  font-family: Poppins, sans-serif;
  font-size: 17px;
  line-height: 150%;
}

img {
  display: inline-block;
  max-width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

.navbar {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 99999999999;
  padding-right: 60px;
  padding-left: 60px;
  background-color: #121212;
  font-family: 'Fontsfree net sfprodisplay';
  color: #1c1c1e;
}

.nav-link {
  margin-top: 10px;
  font-family: Generalsans, sans-serif;
  color: #fdfdfd;
  font-size: 16px;
  font-weight: 500;
}

.nav-link.w--current {
  margin-top: 20px;
  font-family: Poppins, sans-serif;
  color: rgba(18, 18, 18, 0.5);
  font-size: 16px;
  font-weight: 500;
}

.nav-link.dark {
  margin-top: 10px;
  color: #fff;
}

.nav-link.dark:focus {
  color: hsla(0, 0%, 100%, 0.51);
}

.nav-link.about {
  margin-top: 10px;
  font-family: Generalsans, sans-serif;
  color: hsla(0, 0%, 100%, 0.5);
}

.nav-link.active {
  margin-top: 10px;
  font-family: Generalsans, sans-serif;
  color: hsla(0, 0%, 99.2%, 0.5);
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fdfdfd;
  text-align: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  max-width: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.work {
  display: block;
  text-decoration: none;
}

.brand {
  margin-top: 10px;
  padding: 20px 20px 20px 0px;
}

.brand.w--current {
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'SF Pro Display Medium';
  font-weight: 500;
}

.body-3 {
  background-color: #121212;
  font-family: Poppins, sans-serif;
}

.section {
  padding: 80px 60px;
  border: 0px none #000;
  background-color: #fdfdfd;
  text-decoration: none;
}

.section.footer {
  padding-top: 100px;
  padding-bottom: 20px;
  border: 0px solid transparent;
  border-radius: 17px;
  background-color: #fdfdfd;
  color: transparent;
  text-decoration: none;
}

.section.top {
  padding-top: 140px;
}

.section.hidden {
  display: none;
}

.section.plus {
  padding-top: 140px;
}

.section.project {
  background-color: #fdfdfd;
}

.copyright {
  margin-top: 60px;
  font-family: Poppins, sans-serif;
  color: #777;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  text-align: center;
}

.link-block {
  display: block;
  margin-top: 0px;
  margin-bottom: 30px;
}

.social-link {
  color: #1c1c1e;
}

.social-link.social {
  margin-top: 0px;
  margin-right: 10px;
  font-size: 40px;
}

.design-skills {
  margin-bottom: 120px;
}

.center {
  font-weight: 400;
  text-align: center;
}

.my-container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.full-button {
  display: inline-block;
  margin-top: 10px;
  padding: 20px 28px;
  border: 2px solid #000;
  border-radius: 100px;
  background-color: #121212;
  font-family: Generalsans, sans-serif;
  color: #fff;
  font-size: 13px;
  line-height: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.full-button:hover {
  background-color: #121212;
  color: #fff;
}

.full-button.form {
  display: inline-block;
  background-color: #1c1c1e;
  color: #fff;
}

.black-heading {
  color: #1c1c1e;
}

.center-align {
  margin-bottom: 20px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

.center-align.quotes {
  color: #777;
  font-size: 24px;
  line-height: 38px;
}

.semi-bold-p {
  font-weight: 600;
  text-align: center;
}

.full-screen {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  padding: 0px 60px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fdfdfd;
}

.content {
  max-width: 850px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.content.footer {
  max-width: 700px;
}

.div-block-28 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.content-left-aligned {
  max-width: 850px;
}

.herotext-2 {
  font-family: Generalsans, sans-serif;
  color: #1c1c1e;
  line-height: 67px;
}

.field-label {
  display: none;
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  text-align: center;
}

.text-field {
  padding-top: 24px;
  padding-bottom: 24px;
  border-radius: 4px;
  font-family: Poppins, sans-serif;
}

.paragraph-2 {
  margin-bottom: 40px;
}

.heading-4 {
  margin-bottom: 10px;
}

.text-block {
  font-family: Poppins, sans-serif;
}

.form {
  display: block;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  font-family: Poppins, sans-serif;
}

.text-field-2 {
  padding-top: 24px;
  padding-bottom: 24px;
  border-style: solid;
  border-width: 2px;
  border-color: #333;
  border-radius: 4px;
  font-family: Poppins, sans-serif;
  color: #333;
}

.text-field-3 {
  padding-top: 24px;
  padding-bottom: 24px;
  border-style: solid;
  border-width: 2px;
  border-color: #1c1c1e;
  border-radius: 4px;
  font-family: Poppins, sans-serif;
  color: #777;
}

.textarea {
  margin-bottom: 20px;
  padding-bottom: 60px;
  border-style: solid;
  border-width: 2px;
  border-color: #333;
  border-radius: 4px;
  color: #777;
}

.form-block {
  margin-top: 40px;
}

.field-label-6 {
  color: #1c1c1e;
  font-size: 16px;
  font-weight: 400;
}

.field-label-7 {
  color: #1c1c1e;
  font-size: 16px;
  font-weight: 400;
}

.field-label-8 {
  color: #1c1c1e;
  font-size: 16px;
  font-weight: 400;
}

.text-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Font awesome 6 free solid 900', sans-serif;
  font-size: 24px;
}

.project-block {
  margin-top: 0px;
  text-decoration: none;
}

.work-section {
  margin-bottom: 0px;
  padding: 80px 60px;
  background-color: #fdfdfd;
}

.work-section.footer {
  padding-bottom: 20px;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.section-2 {
  min-height: 100vh;
  padding: 80px 60px;
  background-color: #121212;
  text-decoration: none;
}

.section-2.first {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 0vh;
  margin-top: 140px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 60px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid-20 {
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.image-5 {
  border-radius: 4px;
  mix-blend-mode: luminosity;
}

.image-6 {
  border-radius: 4px;
  mix-blend-mode: normal;
}

.content-2 {
  max-width: 850px;
  margin-right: auto;
  margin-left: 0px;
}

.heading-8 {
  color: #121212;
}

.paragraph-4 {
  color: #333;
  font-size: 24px;
  font-weight: 400;
}

.paragraph-6 {
  color: #121212;
  font-size: 24px;
}

.grid-23 {
  display: -ms-grid;
  display: grid;
  margin-top: 60px;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.image-7 {
  border-radius: 4px;
}

.grid-24 {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  -ms-grid-columns: 2fr 2fr;
  grid-template-columns: 2fr 2fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.link-3 {
  margin-top: 10px;
  color: #fdfdfd;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-decoration: none;
}

.link-3:hover {
  text-decoration: underline;
}

.link-3.light {
  color: #121212;
}

.link-3.light-theme {
  color: #121212;
}

.border {
  height: 2px;
  max-width: 1200px;
  margin-bottom: 20px;
  background-color: #fff;
}

.border.light {
  background-color: #121212;
}

.button-2 {
  display: inline-block;
  margin-top: 10px;
  padding: 20px 28px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 100px;
  background-color: transparent;
  font-family: Generalsans, sans-serif;
  color: #fff;
  font-size: 13px;
  line-height: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.button-2:hover {
  background-color: #fff;
  color: #121212;
}

.footer-right-align {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  text-align: left;
}

.copywright-dark-theme {
  color: hsla(0, 0%, 100%, 0.71);
}

.heading-23 {
  color: #fff;
}

.heading-24 {
  color: #fff;
}

.heading-15 {
  color: #121212;
}

.light-footer {
  color: #121212;
}

.copyright-2 {
  margin-top: 0px;
  font-family: Generalsans, sans-serif;
  color: #777;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  text-align: center;
}

.heading-25 {
  color: #fff;
}

.button-ghost {
  margin-top: 30px;
  padding: 20px 28px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid #000;
  border-radius: 100px;
  background-color: transparent;
  font-family: Generalsans, sans-serif;
  color: #121212;
  font-size: 13px;
  line-height: 13px;
  font-weight: 600;
}

.button-ghost:hover {
  background-color: #121212;
  color: #fff;
}

.dark-navbar {
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  background-color: #121212;
}

.grid-25 {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-26 {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.center-text {
  text-align: center;
}

.dark-section {
  padding: 60px 80px;
  background-color: #121212;
}

.side-by-side-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.project-details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.project-image {
  width: 50%;
}

.div-block-36 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.reverse-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.left-project-details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.left-image-block {
  width: 50%;
}

.div-block-37 {
  padding-left: 40px;
}

.follow-up-image {
  margin-top: 40px;
  text-align: center;
}

.section-block {
  margin-bottom: 100px;
}

.section-block.home {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}

.grid-27 {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.project-title {
  font-weight: 500;
  text-align: center;
}

.project-year {
  font-size: 18px;
  text-align: center;
}

.grid-28 {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.top {
  margin-top: 60px;
}

.div-block-39 {
  margin-bottom: 40px;
}

.div-block-40 {
  max-width: 850px;
}

.heading-30 {
  font-family: Generalsans, sans-serif;
  font-weight: 500;
}

._1280-container {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

.project-background {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 750px;
  padding: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 0 16px 0 rgba(16, 24, 40, 0.1), 1px 1px 6px 0 rgba(16, 24, 40, 0.1);
}

.project-background._3 {
  height: 500px;
}

.project-background.wide {
  height: 600px;
}

.project-background.cut {
  margin-bottom: 100px;
}

.grid-29 {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-areas: ".";
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.paragraph-7 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  text-align: left;
}

.paragraph-7.center {
  text-align: center;
}

.div-block-41 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-41.small {
  margin-top: 20px;
}

.image-8 {
  display: inline-block;
}

.image-9 {
  color: #fdfdfd;
}

.brand-2 {
  padding-top: 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.brand-2.w--current {
  padding-top: 10px;
}

.new-navbar {
  position: relative;
  background-color: #121212;
}

.nav-link-2 {
  color: #fdfdfd;
}

.nav-link-3 {
  color: #fff;
}

.navitem {
  color: #fff;
  font-size: 16px;
  line-height: 16px;
}

.navitem.w--current {
  color: rgba(255, 255, 255, 0.51);
  font-size: 16px;
  line-height: 16px;
}

.heading-33 {
  color: #f9f9f9;
}

.bold-text {
  font-weight: 500;
}

.heading-34 {
  color: #fff;
  text-align: center;
}

.paragraph-8 {
  color: #fff;
  font-size: 60px;
  line-height: 60px;
  font-weight: 500;
  text-align: center;
}

.link-4 {
  color: #fff;
  font-size: 60px;
  line-height: 60px;
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
}

.div-block-42 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.center-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.body-4 {
  background-color: #121212;
}

.grid-30 {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.small-project {
  font-size: 16px;
}

.div-block-43 {
  margin-bottom: 40px;
}

.image-10 {
  width: 80%;
  max-width: none;
}

.grid-31 {
  margin-top: 60px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.paragraph-9 {
  text-align: center;
}

.image-11 {
  width: 80%;
}

.grid-32 {
  margin-top: 100px;
  -webkit-align-content: start;
  -ms-flex-line-pack: start;
  align-content: start;
  -ms-grid-columns: 0.75fr 1fr;
  grid-template-columns: 0.75fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-block-44 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
}

.image-12 {
  width: 50%;
}

.div-block-45 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.body-5 {
  background-color: #fdfdfd;
}

.section-3 {
  padding: 6rem 2rem;
  color: #191d21;
  line-height: 110px;
}

.grid-2 {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  -ms-grid-columns: 0.75fr 1fr;
  grid-template-columns: 0.75fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.imageblock {
  width: 100%;
  border-radius: 20px;
}

.image {
  border: 8px none #000;
  border-radius: 4px;
}

.image.curve {
  border-radius: 16px;
}

.div-block {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.heading-16 {
  margin-top: 0px;
  margin-bottom: 20px;
}

.grid-4 {
  margin-bottom: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.minus-top-10 {
  margin-top: 0px;
}

.dim {
  margin-bottom: 5px;
  color: rgba(51, 51, 51, 0.7);
}

.paragraph-10 {
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 16px;
}

.grid-33 {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.heading-35 {
  color: #fff;
}

.heading-36 {
  margin-bottom: 40px;
  color: #fff;
}

.div-block-47 {
  border-radius: 30px;
}

.div-block-48 {
  border-radius: 30px;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 48px;
    line-height: 58px;
    text-align: left;
  }

  h2 {
    margin-bottom: 20px;
    font-size: 36px;
    text-align: left;
  }

  h3 {
    margin-bottom: 20px;
    font-size: 30px;
    text-align: left;
  }

  h4 {
    text-align: left;
  }

  p {
    font-size: 16px;
    line-height: 150%;
    text-align: left;
  }

  .navbar {
    padding-right: 45px;
    padding-left: 45px;
  }

  .section {
    padding: 100px 45px;
    text-align: center;
  }

  .copyright {
    color: rgba(95, 95, 95, 0.38);
  }

  .social-link.social {
    margin-top: 10px;
    margin-right: 5px;
    font-size: 40px;
  }

  .full-button {
    display: block;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .full-button.form {
    background-color: #1c1c1e;
    color: #fff;
  }

  .full-screen {
    padding-right: 40px;
    padding-left: 40px;
  }

  .herotext-2 {
    line-height: 58px;
  }

  .field-label-6 {
    text-align: left;
  }

  .field-label-7 {
    text-align: left;
  }

  .field-label-8 {
    text-align: left;
  }

  .work-section {
    padding: 60px 45px;
  }

  .section-2 {
    padding: 60px 45px;
    text-align: center;
  }

  .section-2.first {
    min-height: 0vh;
    padding-top: 0px;
    padding-left: 45px;
  }

  .grid-23 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .grid-24 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .button-2 {
    display: block;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .footer-right-align {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .copyright-2 {
    color: rgba(95, 95, 95, 0.38);
  }

  .dark-section {
    padding-right: 45px;
    padding-left: 45px;
  }

  .side-by-side-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .project-details {
    width: 100%;
  }

  .project-image {
    width: 100%;
  }

  .div-block-36 {
    padding-top: 20px;
    padding-right: 0px;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .reverse-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .left-project-details {
    width: 100%;
  }

  .left-image-block {
    width: 100%;
  }

  .div-block-37 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .grid-28 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .project-background {
    height: 500px;
    padding: 24px;
  }

  .project-background.cut {
    height: 450px;
  }

  .paragraph-7 {
    font-size: 25px;
    line-height: 35px;
  }

  .div-block-41 {
    height: 300px;
    margin-top: 20px;
  }

  .new-navbar {
    padding-right: 40px;
    padding-left: 40px;
  }

  .grid-30 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .section-3 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 43px;
  }

  h2 {
    margin-bottom: 20px;
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
    line-height: 32px;
    text-align: left;
  }

  h4 {
    font-size: 20px;
  }

  p {
    line-height: 150%;
  }

  a {
    margin-top: 10px;
    font-size: 18px;
  }

  .navbar {
    padding-right: 20px;
    padding-left: 20px;
    background-color: #121212;
    color: #121212;
  }

  .nav-link {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    text-align: center;
  }

  .nav-link:focus {
    color: hsla(0, 0%, 100%, 0.5);
  }

  .nav-link.dark {
    color: #121212;
  }

  .nav-link.about {
    color: rgba(18, 18, 18, 0.49);
  }

  .nav-link.active {
    color: hsla(0, 0%, 100%, 0.5);
  }

  .icon {
    color: #fff;
    font-size: 40px;
  }

  .icon.dark-icon {
    color: #fff;
  }

  .menu-button {
    padding-top: 16px;
    padding-right: 0px;
    padding-bottom: 8px;
    color: #1c1c1e;
  }

  .menu-button.w--open {
    border-style: none;
    border-width: 1px;
    border-color: #ddd0d0;
    background-color: #121212;
    font-family: Poppins, sans-serif;
  }

  .menu-button._1.w--open {
    background-color: transparent;
  }

  .nav-menu {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #121212;
    font-family: Poppins, sans-serif;
  }

  .nav-menu.dark-mobile {
    background-color: #fff;
  }

  .brand {
    margin-top: 5px;
  }

  .brand.w--current {
    margin-top: 5px;
  }

  .section {
    padding: 60px 20px 80px;
  }

  .copyright {
    line-height: 24px;
  }

  .social-link.social {
    font-size: 40px;
  }

  .design-skills {
    margin-bottom: 60px;
  }

  .full-button {
    display: block;
    text-align: center;
  }

  .center-align.quotes {
    font-size: 18px;
    line-height: 28px;
  }

  .full-screen {
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .herotext-2 {
    line-height: 46px;
  }

  .work-section {
    padding: 20px;
  }

  .section-2 {
    padding: 20px;
  }

  .section-2.first {
    min-height: 0vh;
    margin-top: 100px;
    padding-top: 0px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .paragraph-4 {
    font-size: 20px;
  }

  .paragraph-6 {
    font-size: 20px;
  }

  .grid-23 {
    margin-top: 0px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .image-7 {
    display: block;
  }

  .grid-24 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .button-2 {
    display: block;
    text-align: center;
  }

  .footer-right-align {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .copyright-2 {
    line-height: 24px;
  }

  .button-ghost {
    display: block;
    margin-top: 20px;
    text-align: center;
  }

  .dark-navbar {
    background-color: #121212;
  }

  .grid-25 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid-26 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .dark-section {
    padding-right: 20px;
    padding-left: 20px;
  }

  .grid-28 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .heading-30 {
    font-size: 20px;
    line-height: 20px;
  }

  .heading-31 {
    font-size: 20px;
  }

  .project-background {
    height: 600px;
  }

  .grid-29 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .brand-2 {
    margin-top: 0px;
    padding-top: 10px;
  }

  .new-navbar {
    padding-right: 20px;
    padding-left: 20px;
  }

  .navitem {
    text-align: center;
  }

  .icon-2 {
    color: #fff;
    font-size: 40px;
  }

  .menu-button-2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .menu-button-2.w--open {
    background-color: #121212;
  }

  .nav-menu-2 {
    margin-right: 20px;
    margin-left: 20px;
    background-color: #121212;
  }

  .grid-30 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .div-block-43 {
    margin-bottom: 30px;
  }

  .grid-32 {
    -ms-grid-columns: 0.75fr 1fr;
    grid-template-columns: 0.75fr 1fr;
  }

  .grid-2 {
    grid-auto-flow: row;
    -ms-grid-columns: 1.75fr;
    grid-template-columns: 1.75fr;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 28px;
    line-height: 38px;
  }

  h2 {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 34px;
  }

  h3 {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 28px;
    text-align: left;
  }

  h4 {
    font-size: 16px;
    line-height: 20px;
  }

  p {
    font-size: 16px;
    line-height: 150%;
  }

  a {
    font-size: 16px;
  }

  .navbar {
    padding-right: 15px;
    padding-left: 15px;
  }

  .nav-link:focus {
    color: hsla(0, 0%, 100%, 0.7);
  }

  .nav-link.w--current {
    color: #fff;
  }

  .nav-link.about {
    color: rgba(18, 18, 18, 0.5);
  }

  .nav-link.active {
    color: hsla(0, 0%, 100%, 0.5);
  }

  .icon.dark-icon {
    color: #1c1c1e;
  }

  .menu-button.w--open {
    display: none;
    background-color: #fdfdfd;
  }

  .menu-button.light-theeeme {
    background-color: transparent;
    color: rgba(28, 28, 30, 0);
  }

  .nav-menu {
    margin-right: 15px;
    margin-left: 15px;
  }

  .nav-menu:focus {
    color: hsla(0, 0%, 99.2%, 0.5);
  }

  .nav-menu.dark-mobile {
    position: absolute;
    left: 0%;
    top: 5%;
    right: 0%;
    bottom: auto;
  }

  .brand {
    margin-top: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .brand.w--current {
    margin-top: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .section {
    padding: 30px 15px;
    border-style: none;
    border-width: 1px 1px 1px 0px;
    border-color: #000;
  }

  .section.footer {
    padding-top: 60px;
    padding-bottom: 20px;
  }

  .section.plus {
    padding-top: 100px;
  }

  .copyright {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
  }

  .link-block {
    display: block;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .social-link.social {
    margin-top: 5px;
    margin-right: 0px;
    padding: 10px 5px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .center {
    margin-bottom: 10px;
  }

  .center-align {
    margin-bottom: 10px;
  }

  .full-screen {
    min-height: 80vh;
    padding-right: 15px;
    padding-left: 15px;
  }

  .herotext-2 {
    line-height: 38px;
  }

  .text-field-2 {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .text-field-3 {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .textarea {
    padding-bottom: 40px;
  }

  .field-label-6 {
    font-size: 14px;
    text-align: left;
  }

  .field-label-7 {
    font-size: 14px;
    text-align: left;
  }

  .field-label-8 {
    font-size: 14px;
    text-align: left;
  }

  .work-section {
    margin-bottom: 0px;
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .section-2 {
    padding: 30px 15px;
    border-style: none;
    border-width: 1px 1px 1px 0px;
    border-color: #000;
  }

  .section-2.first {
    min-height: 0vh;
    margin-top: 100px;
    padding-top: 0px;
    padding-left: 15px;
  }

  .grid-20 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .paragraph-4 {
    font-size: 18px;
  }

  .paragraph-6 {
    font-size: 18px;
  }

  .grid-23 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid-24 {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .footer-right-align {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .copyright-2 {
    margin-top: 20px;
    color: rgba(95, 95, 95, 0.51);
    font-size: 14px;
    text-align: center;
  }

  .button-ghost {
    display: block;
    text-align: center;
  }

  .dark-section {
    padding: 20px 15px;
  }

  .div-block-39 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .heading-30 {
    font-size: 16px;
    line-height: 16px;
  }

  .heading-32 {
    font-size: 16px;
    line-height: 20px;
  }

  .project-background {
    height: 500px;
  }

  .project-background._3 {
    height: 500px;
  }

  .project-background.cut {
    height: 350px;
  }

  .paragraph-7 {
    font-size: 18px;
    line-height: 24px;
  }

  .div-block-41 {
    height: 200px;
  }

  .brand-2 {
    margin-top: 0px;
    padding-top: 10px;
  }

  .new-navbar {
    padding-right: 15px;
    padding-left: 15px;
  }

  .icon-2 {
    font-size: 40px;
  }

  .menu-button-2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-menu-2 {
    margin-right: 15px;
    margin-left: 15px;
  }

  .paragraph-8 {
    font-size: 40px;
    line-height: 40px;
  }

  .link-4 {
    margin-top: 0px;
    font-size: 40px;
    line-height: 40px;
  }

  .small-project {
    font-size: 14px;
  }

  .div-block-43 {
    margin-bottom: 10px;
  }

  .grid-32 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .section-3 {
    padding: 2rem 1.5rem;
  }

  .grid-2 {
    grid-auto-flow: row;
  }

  .grid-4 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .dim {
    font-size: 14px;
  }

  .grid-33 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

#w-node-b79cc587-4f0c-5d54-8aa2-43bc8b4105a0-36e6a98b {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c78e2f32-3ccb-74d4-5c08-ee68b5fbacb7-36e6a98b {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_95494641-752b-8d36-d0bb-77299335d95d-36e6a98b {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_95494641-752b-8d36-d0bb-77299335d95e-36e6a98b {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_61fe8beb-978c-b9f2-f0fa-58bcb3367e9d-36e6a98b {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_61fe8beb-978c-b9f2-f0fa-58bcb3367e9e-36e6a98b {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_403479c2-9061-c4a6-7b67-bd7ce31133ca-3ce6a990 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_403479c2-9061-c4a6-7b67-bd7ce31133cc-3ce6a990 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_403479c2-9061-c4a6-7b67-bd7ce31133cf-3ce6a990 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_889d593a-fa6b-e38a-d314-231c381fb404-3ce6a990 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_889d593a-fa6b-e38a-d314-231c381fb40d-3ce6a990 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_889d593a-fa6b-e38a-d314-231c381fb421-3ce6a990 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_889d593a-fa6b-e38a-d314-231c381fb42a-3ce6a990 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_889d593a-fa6b-e38a-d314-231c381fb434-3ce6a990 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_889d593a-fa6b-e38a-d314-231c381fb43d-3ce6a990 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_5d88c549-760d-03c1-d47a-d2309c0dbdb1-3ce6a990 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_5d88c549-760d-03c1-d47a-d2309c0dbdb2-3ce6a990 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_5d88c549-760d-03c1-d47a-d2309c0dbdb3-3ce6a990 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a56cc014-39c5-cd79-0b02-a4ba5422fef2-3ce6a990 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_77edf31d-9ae4-6dcf-bc90-66d5bf67b3de-3ce6a990 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_54817464-6978-1b3b-33a0-f702910bf5c4-3ce6a990 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_77edf31d-9ae4-6dcf-bc90-66d5bf67b3e0-3ce6a990 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a9b1d845-2904-8ed4-60f6-33930f8e9a60-0f8e9a5c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a9b1d845-2904-8ed4-60f6-33930f8e9a63-0f8e9a5c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a9b1d845-2904-8ed4-60f6-33930f8e9a6a-0f8e9a5c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a9b1d845-2904-8ed4-60f6-33930f8e9a6d-0f8e9a5c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a9b1d845-2904-8ed4-60f6-33930f8e9a72-0f8e9a5c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a9b1d845-2904-8ed4-60f6-33930f8e9a73-0f8e9a5c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e0740dcb-cb8a-ef9c-55a1-e1ee1b6e81c6-2bd0c427 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_13fbcb9a-cc2f-3aea-4b44-dada9df26ca9-2bd0c427 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

@font-face {
  font-family: 'Font awesome 6 free 400';
  src: url('../fonts/Font-Awesome-6-Free-Regular-400.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Font awesome 6 free solid 900';
  src: url('../fonts/Font-Awesome-6-Free-Solid-900.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Font awesome 6 brands 400';
  src: url('../fonts/Font-Awesome-6-Brands-Regular-400.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-ExtralightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-Extralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-SemiboldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}